.Wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.mainContantLink {
    font-size: 48px;
    font-family: Migra-Italic;
}

.mainContent {
    font-size: 48px;
    line-height: 138%;
    letter-spacing: -0.01em;
    font-style: normal;
    font-weight: 200;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.centeredContent {
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    display: flex;
}


.secondRow {
    display: flex;
}

.secondRow>a {
    padding-left: 8px;
    display: flex;
    align-items: center;
}

.spline {
    position: absolute;
    height: 100vh;
    width: 100vw;
    z-index: -1;
}