.social {
	position: fixed;
	bottom: 4%;
	right: 4%;
  }
  
  .wrapper {
	margin-left: 4%;
	height: calc(100vh - 40px);
	display: flex;
	flex-direction: column;
	justify-content: flex-end;
	width: 50%;
  }
  
  .articleItem:hover {
	opacity: 1;
	cursor: pointer;
  }
  
  .span {
	opacity: 0.3;
  }
  