.overline {
	opacity: 0.4;
	font-family: "Newsreader";
	margin-bottom: 8px;
}

.contentWrapper {
	display: flex;
	flex-direction: column;
	margin-top: 80px;
	text-align: left;
	width: 620px;
}

.bodyWrapper {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.articleWrapper:hover {
	cursor: pointer;
}

.articleItem:hover {
	opacity: 1 !important;
}
.articleWrapper:hover > .articleItem {
	opacity: 0.3;
}

.articleWrapper:hover > .divider {
	border-bottom: 1px solid white;
}

.articleRow {
	display: flex;
	justify-content: space-between;
	border-bottom: 1px solid #1A1A1A;
	padding-bottom: 16px;
	margin-top: 8px;
}

.articleRow:first-child:not(:last-child) {
	margin-top: 0px;
}

.divider{
	border-bottom: 1px solid #1A1A1A;
}

.divider + p {
	opacity: 0.3;
}