/* .title{
	font-size: 32px;
	max-width: 600px;

	margin-left: 4%;
}

.date {
	font-size: 16px;
	opacity: 0.4;
}

.wrapper{
	margin-top: 16%;
}

.img {
	margin-left: 4%;
	margin-top: 80px;
	margin-bottom: 80px;

}

.paragraph {
	text-indent: 24px;
	margin-left: 4%;
    max-width: 50%;
	letter-spacing: 0.1px;
    margin-top: 40px;
	line-height: 32px;
	font-size: 21px;
}

.float-img{
	position: absolute;
} */