.title{
	font-family: Migra-Extralight, serif;
	font-size: 32px;
	max-width: 650px;
	margin-left: 4%;
}

.date {
	font-size: 16px;
	opacity: 0.4;
	font-family: NHassGrotesk-Display-Light, sans-serif;
}

.wrapper{
	margin-top: 17%;
}

.img {
	margin-left: 4%;
	margin-top: 80px;
	margin-bottom: 80px;

}

.paragraph {
	text-indent: 1.5em;
	margin-left: 4%;
    max-width: 600px;
    margin-top: 40px;
	font-family: NHassGrotesk-Display-Light, sans-serif;
	line-height: 38px;
	font-size: 24px;
}

.referenceTitle {
	margin-left: 4%;
	font-family: Migra-Extralight, serif;
	font-size: 24px;
	padding-bottom: 32px;
}

.refLink{
	font-size: 24px;
	padding-bottom: 6px;
}

.referenceItem{
	display: flex;
	margin-left: 4%;
	text-align: left;
}

.refNumber{
	font-size: 24px;
	font-family: Migra-Extralight, serif;
	margin-right: 12px;
}