.workWrapper{
	position: absolute;
	top: 40%;
	left: 4%;
}


.input {
	font-size: 48px;
	font-family: Migra-Extralight, serif;
	border: none;
	margin-bottom: 16px;
}

.input:focus {
	border: 0;
}

.form {
	display: flex;
	flex-direction: column;
}

.btn {
	background-color: white;
	border: none;
	font-size: 48px;
	font-family: Migra-Extralight, serif;
	text-align: left;
}

.error {
	color: #FF0000;
	font-family: Migra-Extralight, serif;
	font-size: 24px;
}