.menuWrapper {
  display: flex;
  margin-left: 4%;
  /* position: fixed; */

}

.span {
  opacity: 0.3;
}

.linkWrapper{
  margin-right: 4%;

  /* position: fixed; */
}

.nav{
  display: flex;
  margin-top: 4%;
  justify-content: space-between;
  
}
