@import url('https://fonts.googleapis.com/css2?family=Fira+Code:wght@600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fira+Code:wght@600&family=Newsreader:ital,wght@0,300;1,300&display=swap');

@font-face {
  font-family: HelveticaNeue;
  src: url(/fonts/HelveticaNeue/HelveticaNeueLTStd-It.otf);
  font-weight: light;
}

*, *::before, *::after {
  box-sizing: border-box;
}

* {
  margin: 0;
}

html, body {
  height: 100%;
  font-family: HelveticaNeue;
  font-size: 1rem;
  background-color: black;
  color: white;
  line-height: 26px;
}

body {
  -webkit-font-smoothing: antialiased;
}

img, picture, video, canvas, svg {
  display: block;
  max-width: 100%;
}

input, button, textarea, select {
  font: inherit;
}

p, h1, h2, h3, h4, h5, h6 {
  overflow-wrap: break-word;
}

#root, #__next {
  isolation: isolate;
}

.underlineLink{
  text-decoration: underline;
  text-underline-offset: 4px;
  text-decoration-color: #4D4D4D;
}

.underlineLink:hover{
  text-decoration-color: white;
  transition: cubic-bezier(0.075, 0.82, 0.165, 1) 0.5s;
}

a {
  text-decoration: none;
  color: white;
}

li {
  list-style-type: none;
}

::-webkit-scrollbar {
  display: none;
}

/* p ~ p {
  margin-top: 40px;
}
 */

/* 
.highlight {
  font-family: 'FiraCode';
  padding-left: 5px;
  padding-right: 5px;
  font-size: var(--small);
  letter-spacing: -1.2px;
  background-color: rgb(221, 221, 221);
}

.divider {
  background-color: #ccc;
  height: 1px;
  width: 575px;
  margin-top: 70px;
  margin-bottom: 70px;
  margin-left: 4%;
  ;
} */


/* .spacer {
  height: 20vh;
}

.article-image {
  position: absolute;
  right: 30px;
  top: 0px;
}

code { 
  font-size: 17px;
  padding: 4px;
  border-radius: 6px;
  border: solid #D0D5E6 1px;
  letter-spacing: -0.5px;
  background-color: #FAFBFF;
}


p a:link {
	font-family: Migra-Extralight-Italic, serif;
}

p ~ img {
  margin-top: 40px;
} */
