/* Fonts */
@font-face {
  font-family: "FiraCode";
  src: local("FiraCode"), url("../fonts/FiraCode-Regular.ttf");
  font-weight: regular;
}

@font-face {
  font-family: "NHassGrotesk-Display-Light";
  src: local("NHassGrotesk-Display-Light"),
    url("../fonts/NHassGrotesk/NHaasGrotesk-Display-Light.otf");
  font-weight: Light;
}

@font-face {
  font-family: "NHassGrotesk-Text-Medium";
  src: local("NHassGrotesk-Text-Medium"),
    url("../fonts/NHassGrotesk/NHaasGrotesk-Text-Medium.otf");
  font-weight: Medium;
}

@font-face {
  font-family: "NHassGrotesk-Display-Light-Italic";
  src: local("NHassGrotesk-Display-Light-Italic"),
    url("../fonts/NHassGrotesk/NHaasGrotesk-Display-Light-Italic.otf");
  font-weight: Light;
}

@font-face {
  font-family: "Migra-Extralight";
  src: local("Migra-Extralight"),
    url("../fonts/Migra/Migra-Extralight.ttf");
  font-weight: Light;
}

@font-face {
  font-family: "Migra-Extralight-Italic";
  src: local("Migra-Extralight-Italic"),
    url("../fonts/Migra/MigraItalic-ExtralightItalic.ttf");
  font-weight: Light;
}



:root {
  font-synthesis: none;
  text-rendering: geometricPrecision;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-smooth: always;

  -webkit-text-size-adjust: 100%;
}
/*
  1. Use a more-intuitive box-sizing model.
*/
*,
*::before,
*::after {
  box-sizing: border-box;
}
/*
  2. Remove default margin
*/
* {
  margin: 0;
}
/*
  3. Allow percentage-based heights in the application
*/
html,
body {
  font-family: NHassGrotesk-Display-Light, sans-serif;
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
  /* overflow-y: hidden; */
}

body::-webkit-scrollbar{
  display: none;
}

a,
a:visited,
a:hover,
a:active {
  color: inherit;
  text-decoration: none;
  cursor: pointer;
  /* font-family: Migra-Extralight-Italic; */

}

a:not(li a):hover {
  color: black;
  opacity: 0.4;
}

.articleItem:hover {
  opacity: 1;
}

/*
  6. Improve media defaults
*/
img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

/*
  8. Avoid text overflows
*/
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

input:focus,
select:focus,
textarea:focus,
button:focus {
    outline: none;
}

li {
  list-style-type: none;
 }

p ~ p {
  margin-top: 40px;
}



.highlight {
  font-family: 'FiraCode';
  padding-left: 5px;
  padding-right: 5px;
  font-size: var(--small);
  letter-spacing: -1.2px;
  background-color: rgb(221, 221, 221);
}

.divider {
  background-color: #ccc;
  height: 1px;
  width: 575px;
  margin-top: 70px;
  margin-bottom: 70px;
  margin-left: 4%;
  ;
}


.spacer {
  height: 20vh;
}

.article-image {
  position: absolute;
  right: 30px;
  top: 0px;
}

code { 
  font-size: 17px;
  padding: 4px;
  border-radius: 6px;
  border: solid #D0D5E6 1px;
  letter-spacing: -0.5px;
  background-color: #FAFBFF;
}


p a:link {
	font-family: Migra-Extralight-Italic, serif;
}

p ~ img {
  margin-top: 40px;
}
